/* Resetando margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para o corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilizando o menu de navegação */
nav {
  background-color: #2d2d2d;
  padding: 10px 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #575757;
}

/* Estilizando as páginas */
.page {
  display: none; /* As páginas ficam ocultas por padrão */
  padding: 50px 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
